.heading{
    position: relative;
    color: white;
    text-align: center;
    font-size: 30px;}
span{
    color: red;
}
.container {
    font-weight: bold;
    text-align: center;
}


.form-group{
    color:white;
   }
  .background{
      position: absolute;
      width: 100%;
      height: 100%;
  }
  .help-block{
      text-align: left;
      font-weight: bold;
      color: red;
  }
.col-sm-2{
    background: red;
}


